@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');
@import "nav.css";
@import "sidenav.css";



header {
    border: 1px solid #99A3AD;
    background-color: #fff;
    
}

.header-container{
    width: 1200px;
    margin:0 auto;
 

}

.body-wrapper {
    background-color: #EEF0F1;

    
}

.body-container{
    width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 20% 1fr;

}













footer{
    background-color: crimson;
}
