@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');
@import "nav.css";
@import "sidenav.css";
@import "post.css";
@import "footer.css";



header {
    border: 1px solid #99A3AD;
    background-color: #fff;
    border-top: none;
    
}

.header-container{
    width: 1200px;
    margin:0 auto;
 

}

.body-wrapper {
    background-color: #EEF0F1;
    /* width:1200px; */

    
}

.body-container{
    width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 350px auto;
    padding-top: 40px;

}

figcaption {
    text-align: right;
}



@media screen and (max-width: 1200px) {
    .body-wrapper {
        width: 1200px;
        
    }
    .main-container {
        padding-right:20px;
    }

    .header{
        width: 1200px;
    }

    .footer {
        width:1200px;
    }
}

@media screen and (max-width: 767px) {
    .body-wrapper {
        width: 1200px;
    }

    .header{
        width: 1200px;
    }

    .aside {
        display: none;
    }

    .main-container {
        margin:0px 20px;
    }

    .body-container{

        grid-template-columns: 1fr;
    }
    
}


